body, html {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Timmana', sans-serif;
}
.home-container {
    background-color: black;
    color: white;
    min-height: 100vh;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Orbitron", sans-serif;
  }
  
  .home-container h1 {
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    margin-bottom: 1rem;
  }
  
  .home-container p {
    font-size: 1.2rem;
    max-width: 600px;
  }
  